.Main-Back{
    width: 100%;
    height: 100vh;
    padding-bottom: 10vh;
    background: #CFCFCF;
    position: relative;
    z-index: -1000;
    overflow: hidden;
    transition: 1s;
}

.Main-Back-Footer{
    background-color: #FFFFFF;
    width: 100%;
    height: var(--Main-Back-Footer-Height);
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 2px solid black;
}

.Title-Container{
    margin: 0;
    z-index: 0;
    position: absolute;
    width: max-content;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding-bottom: 20vh;
}

.Title-Container h1{
    position: relative;
    color: #2E2E2E;
    z-index: 0;
    font-family: 'JetBrains Mono', sans-serif;
    font-size: 8rem;
    font-weight: 400;
    margin: 0;
    padding: 0;
}

.Wave{
    position: absolute;
    width: 200vw;
    height: 200vw;
    left: -50vw;
    z-index: -500;
    bottom: -210vw;
    transition: bottom 4s linear;
    background: linear-gradient(180deg, #FFC738 0%, #FFC738 50%, #FFFFFF 100%);
    border-radius: 33%;
    animation: Waven 10s linear infinite;
}

.White-Underline{
    height: 8px;
    width: 80%;
    animation: unerline-Appear 1s ease-out;
    margin: auto;
    background-color: white;
}

.White-Underline-placeholder{
    height: 8px;
    width: 80%;
    background-color: transparent;
}

@keyframes Waven {
    0% {transform: rotate(0);}
    100% {transform: rotate(360deg);}
}

@keyframes unerline-Appear {
    0% {width: 0px}
    100% {width: 80%}
}