.Main-Back{
    width: 100%;
    height: 100vh;
    padding-bottom: 10vh;
    background: #CFCFCF;
    position: relative;
    z-index: -1000;
    overflow: hidden;
    transition: 1s;
}

.Main-Back-Footer{
    background-color: var(--Accent-Color-light);
    width: 100%;
    height: var(--Main-Back-Footer-Height);
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 2px solid black;
}

.Title-Container{
    margin: 0;
    z-index: 0;
    position: absolute;
    width: max-content;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding-bottom: 20vh;
}

.Title-Container h1{
    position: relative;
    color: var(--Black-Color);
    z-index: 0;
    font-family: 'JetBrains Mono', sans-serif;
    font-size: 8rem;
    font-weight: 400;
    margin: 0;
    padding: 0;
}

.Wave{
    position: absolute;
    width: 200vw;
    height: 200vw;
    left: -50vw;
    z-index: -500;
    bottom: -210vw;
    transition: bottom 4s linear;
    background: linear-gradient(180deg, var(--Accent-Color-Dark) 0%, var(--Accent-Color-Dark) 50%, var(--Accent-Color-light) 100%);
    border-radius: 33%;
    animation: Waven 10s linear infinite;
}

.White-Underline{
    height: 8px;
    width: 80%;
    animation: unerline-Appear 1s ease-out;
    margin: auto;
    background-color: var(--Accent-Color-light);
}

.White-Underline-placeholder{
    height: 8px;
    width: 80%;
    background-color: transparent;
}

@keyframes Waven {
    0% {transform: rotate(0);}
    100% {transform: rotate(360deg);}
}

@keyframes unerline-Appear {
    0% {width: 0px}
    100% {width: 80%}
}

@media screen and (max-width: 1000px) {
    .Title-Container h1{
        font-size: 6rem;
    }
}

@media screen and (max-width: 750px) {
    .Title-Container h1{
        font-size: 4rem;
    }
}

@media screen and (max-width: 500px) {
    .Title-Container h1{
        font-size: 2.5rem;
    }
}