:root{ /*variables used in the home page*/
    --navBar-Header-Height: 86px;
    --Main-Back-Footer-Height: 86px;
}

.Main-Body{
    flex: 1;
    height: 100%;
    padding: 0;
    margin: 0;
    width: 100%;
}

.BackBody{
    min-width: fit-content;
    width: 60%;
    max-width: 60%;
    min-width: 60%;
    background: rgba(255, 255, 255, 0.8);
    position: relative;
    height: max-content; 
    padding-left: 100px;
    padding-right: 100px;
  }

  @media screen and (max-width: 1000px) {
    .BackBody{
        padding-left: 60px;
        padding-right: 60px;
      }
}
