body{
    margin: 0px;
    padding: 0px;
}

html, body{
    overflow-x: hidden;
}

.customBackground{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -10000;
}

:root{
    --Primary-Color:#ffcd80;
    --Secondary-Color: #fffcc9;
    --Accent-Color-light: #ffffff;
    --Accent-Color-Dark: #f4b738;
    --UnderTone-Color: #ff8a00;
    --Black-Color: #2E2E2E;
}
