.AboutMe-Body{
    width: 100%;
    min-height: fit-content;
    margin: 0;
    background-color: var(--Accent-Color-light);
    font-family: 'JetBrains Mono', sans-serif;
}

.AboutMe-Main{
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: flex-start;
}

.AboutMe-Image{
    margin: 0;
    height: 720px;
    width: 50%;
    order: 2;
}

.AboutMe-Content{
    padding: 0;
    margin: 0;
    height: 100%;
    width: 50%;
    display: block;
    order: 1;
}

.AboutMe-Head{
    margin-left: 20px;
}

.AboutMe-Head h2{
    margin-bottom: 0;
    font-size: 4rem;
    font-weight: 400;
}

.AboutMe-Content > p{
    font-size: 1.5rem;
    height: 60%;
    overflow-y: auto;
    margin: 10px 0 0 10px;
}

.AboutMe-Content > p > a{
    color: var(--Black-Color);
}

  .AboutMe-Button, .AboutMe-Button::before{
    width: 150px;
    margin: 10px 30px;
    border-radius: 10px;
    padding: 0px;
    height: 45px;
    transition: 1s;
    background: transparent;
    position: relative;
    overflow: hidden;
    border: 1px solid var(--Black-Color);
    color: var(--Black-Color);
  }

  .AboutMe-Button p{
    font-family: 'JetBrains Mono', sans-serif;
    font-size: 1.5rem;
    position: relative;
    z-index: 2;
    margin: 0;
  }

  .AboutMe-Button::before {
    background-color: var(--Accent-Color-Dark);
    margin: 0;
    position: absolute;
    content: '';
    left: 0;
    top: 0;
    width: 0px;
    border: none;
    z-index: 1;
  }

  .AboutMe-Button:hover{
    cursor: pointer;
    color: var(--Accent-Color-light);
    border-radius: 20px;
  }

  .AboutMe-Button:hover::before{
    width: 150px;
  }

  .Buttons-Wrapper{
    display: flex;
    justify-content: center;
  }

  @media screen and (max-width: 750px) {
    .AboutMe-Head h2{
      font-size: 3rem;
      width: 100%;
      text-align: center;
    }
    .AboutMe-Head{
      margin: 0;
    }
    .AboutMe-Main{
      display: block;
    }
    .AboutMe-Content{
      width: 100%;
    }
    .AboutMe-Image{
      width: 100%;
    }
  }